{% extends "base.html" %}
{% block heading %}Bookshelf{% endblock %}
{% block toc %}
<nav>
  <h3>
    Table of Contents
  </h3>
  <ul role="directory">
    {% for section in sections %}
    <li>
      <a href="#{{ section.title }}">{{ section.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endblock %}
{% block content %}
{% for section in sections %}
<section>
  <h2>
    {{ section.title }}
  </h2>
  <p>
    {{ section.subtitle }}
  </p>
  <ul role="list">
    {% for entry in section.content %}
    <li>
      <a target="_blank" href="{{ entry.href }}">{{ entry.title }}</a>
      <br>
      <p>
        {{ entry.description }}
      </p>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
{% endblock %}