{% extends "pages/base.html" %}
{% block heading %}Home{% endblock %}
{% block content %}
<section>
  <h2>Top Skills</h2>
  <ul role="list" class="top-skills">
    <li>
      <img src="../../assets/ts_logo.png" alt="Typescript Logo">
      <p><a href="https://www.typescriptlang.org/">Typescript</a></p>
    </li>
    <li>
      <img src="../../assets/playwright-logo.png" alt="Playwright Logo">
      <p><a href="https://playwright.dev/">Playwright</a></p>
    </li>
    <li>
      <img src="../../assets/automation.png" alt="Test Automation Icon">
      <p>Test Automation</p>
    </li>
    <li>
      <img src="../../assets/documentation.png" alt="Documentation icon">
      <p>Documentation</p>
    </li>
    <li>
      <img src="../../assets/process_improvement.png" alt="Process Improvement Icon">
      <p>Process Improvement</p>
    </li>
    <li>
      <img src="../../assets/planning.png" alt="Strategic Planning Icon">
      <p>Strategic Planning</p>
    </li>
    <li>
      <img src="../../assets/leadership.png" alt="Communication Icon">
      <p>Team Leadership</p>
    </li>
    <li>
      <img src="../../assets/project_management.png" alt="Jira Logo">
      <p><a href="https://www.atlassian.com/software/jira">Project Management</a></p>
    </li>
    <li>
      <img src="../../assets/public_speaking.png" alt="Public Speaking Icon">
      <p>Public Speaking</p>
    </li>
    <li>
      <img src="../../assets/accessibility.png" alt="Accessibility Icon">
      <p>Accessibility</p>
    </li>
  </ul>
</section>
<section>
  <h2>About</h2>
  <p>
    My name is Joshua Pendragon, and I am an experienced SDET with over eight years of experience in ensuring software
    quality. I began my career in the US Navy as a Cryptologic Technician, where I developed my attention to detail and
    analytical skills. Since then, I have transitioned into the tech industry, working on testing challenges in various
    fields, such as point-of-sale systems and B2B platforms.
  </p>
  <p>
    In my most recent role as an SDET at OvationCXM, I led the development and maintenance of a Playwright project for
    cross-product testing. I am proud to have driven improvement from the ground up by breaking down complex tests,
    composing reusable logic, and optimizing error handling. This has enabled us to fully automate our smoke suite and
    increase our testing velocity significantly.
  </p>
  <p>
    Aside from coding, I actively mentor team members, guide project discussions, and introduce effective tools and
    processes to contribute to continuous improvement. For example, I implemented integrations with CI/CD pipelines and
    issue trackers, streamlined our Agile workflow, and built a Trello-based onboarding system for new hires.
  </p>
  <p>
    I recognize that organizational failures often stem from a lack of alignment, so one of my primary areas of focus is
    to bridge
    those divides strategically and ensure a united vision and understanding. I constantly look for the smallest change
    with the
    biggest impact, whether that be writing new test coverage, drafting documentation to deconstruct silos, or
    bringing data and perspective to the people that need it.
  </p>
  <p>
    For professional growth, I am currently learning Rust, C++, Go, and SurrealDb to broaden my skill set.
    When I'm not coding, I'm chatting with friends on Discord while running content in WoW or FFXIV, clearing my
    unplayed Steam backlog, or practicing a song from Stronghold on the mandolin.
  </p>
  <p>
    As a proud supporter of the <a href="https://manifesto.softwarecraftsmanship.org/">Software Craftsmanship Manifesto</a>, I pursue quality and professionalism in all my work.
  </p>
  <p>
    I am actively seeking opportunities that align with my passion for software design, development, and QA
    automation. If you like what you see here, reach out and say hello!
  </p>
</section>
{% endblock %}