{% extends "base.html" %}
{% block heading %}Bookshelf{% endblock %}
{% block content %}
<section>
  <p>
    This is a collection of tools, articles, and other resources that I have found useful.
  </p>
  <ul role="list">
    <li>
      <a href="https://grugbrain.dev/">The Grug Brained Developer</a>
      <br>
      <p>
        A layman's guide to thinking like the self-aware smol brained.
      </p>
    </li>
    <li>
      <a href="https://htmx.org/essays/locality-of-behaviour/">HTMX on Locality of Behavior</a>
      <br>
      <p>
        An article on the tradeoffs of Separation of Concerns and Locality of Behavior.
      </p>
    </li>
  </ul>
</section>
{% endblock %}
