{% extends "base.html" %}
{% block heading %}Bookshelf{% endblock %}
{% block content %}
<section>
  <h2>
    Disciplines
  </h2>
  <p>
    This is a collection of disciplines that I have found useful.
  </p>
  <ul role="list">
    {% for entry in disciplines %}
    <li>
      <a target="_blank" href="{{ entry.href }}">{{ entry.title }}</a>
      <br>
      <p>
        {{ entry.description }}
      </p>
    </li>
    {% endfor %}
  </ul>
</section>
<section>
  <h2>
    Articles
  </h2>
  <p>
    This is a collection of articles, that I have found useful.
  </p>
  <ul role="list">
    {% for entry in articles %}
    <li>
      <a target="_blank" href="{{ entry.href }}">{{ entry.title }}</a>
      <br>
      <p>
        {{ entry.description }}
      </p>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
