* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: medium;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0.5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: #091a0a;
    color: rgb(207, 207, 207);
    font-size: 1rem;

}

a:link {
    color: rgba(138, 174, 216, 0.85);
}

a:visited {
    color: rgba(215, 193, 244, 0.4);
}

a:hover {
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    outline: 3px solid #dbd9d9;
}

header, footer {
    border: lightgrey solid 1px;
    width: 100%;
    display: flex;
    height: fit-content;
    align-items: center;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 0.5%;
}

header {
    justify-content: space-between;
}

header nav {
    width: 32%;
}


footer {
    justify-content: end;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: fit-content;
}

header ul li, footer ul li {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 1% 2% 1% 2%;
    margin: 1% 2% 1% 2%;
}

.toc {
    width: auto;
    padding: 0.5%;
    border-right: 2px solid rgb(207, 207, 207);
}

.toc nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.toc ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.toc ul li {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 12%;
    margin: 2%;
}

main {
    display: flex;
    flex: 1;
    overflow-y: auto;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 1%;
}


.content {
    width: 85%;
    padding-left: 1%;
}


.top-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-skills li {
    flex: auto;
    list-style-position: inside;
    display: flex;
    align-content: center;
}

.top-skills li * {
    padding: .5rem;
    align-content: center;
}

footer p {
    margin-top: 0.625rem;
    font-size: 0.8rem;
    border-radius: 10px;
}

pre {
    background: rgba(255, 255, 255, 0.5);
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin: 0.625rem 0;
}

.headshot {
    width: 10%;
    height: auto;
    border-radius: 70%;
}

