* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    height: 100vh;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: #091a0a;
    color: rgb(207, 207, 207);
    font-size: 1rem;
}

.headshot {
    border-radius: 70%;
}

header, footer {
    display: grid;
    border: lightgrey solid 1px;
    width: 100%;
    align-items: center;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    margin: 0;
    padding: 0;
    grid-template-columns: min-content auto auto;
    gap: 2%
}

footer ul, header ul {
    align-self: center;
    display: flex;
    margin: 0;
    padding: 0;
    width: auto;
}

footer p {
    grid-column: 1;
    font-size: 0.8rem;
    width: max-content;
    margin: 2%;
}

footer ul li, .toc ul li {
    list-style-type: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 1% 4%;
    margin: 1% 2%;
}

footer ul li {
    width: max-content;
}

main {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 6fr;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 1%;
    justify-items: stretch;
}

.content {
    border-left: 2px solid rgb(207, 207, 207);
}

.toc {
    /*width: max-content;*/
    padding: 2%;
}

.toc nav, .toc ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}


.content {
    padding-left: 1%;
    overflow-y: auto;
}

.top-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-skills li {
    flex: auto;
    list-style-position: inside;
    display: flex;
    align-content: center;
}

li * {
    padding: .5rem;
    align-content: center;
}

pre {
    background: rgba(255, 255, 255, 0.5);
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin: 0.625rem 0;
}

a {
    color: rgba(138, 174, 216, 0.85);
    width: fit-content;
}

a:visited {
    color: rgba(215, 193, 244, 0.4);
}

a:hover {
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    outline: 3px solid #dbd9d9;
}